* text=auto eol=lf
*.[cC][mM][dD] text eol=crlf
*.[bB][aA][tT] text eol=crlf
*.[pP][sS]1 text eol=crlf

# Asset binari: mai normalizzare (corromperebbe template e font)
*.xlsx binary
*.xls binary
*.xlsm binary
*.ttf binary
*.otf binary
*.pdf binary
*.png binary
